<%- include("../partials/header") %>

<h2>Create Exam</h2>

<div class="card">
  <form method="POST" action="/admin/create-exam">
    <input name="title" placeholder="Exam Title" required>
    <input name="description" placeholder="Description" required>
    <button>Create Exam</button>
  </form>
</div>

<%- include("../partials/footer") %>
