<form method="POST" action="/admin/create-exam">

<input name="title" placeholder="Exam title" required>
<input name="description" placeholder="Description" required>

<h3>Question</h3>

<input name="question" placeholder="Question" required>

<input name="option1" placeholder="Option 1" required>
<input name="option2" placeholder="Option 2" required>
<input name="option3" placeholder="Option 3" required>
<input name="option4" placeholder="Option 4" required>

<input name="correct" placeholder="Correct Answer" required>

<button>Create Exam</button>
</form>
